{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{% static 'images/img.png' %}" alt="IMG">
            </div>

            <form class="login100-form validate-form shadow p-3 mt-5  mb-5 bg-white rounded" method="post">
                {% csrf_token %}
                <span class="login100-form-title">
                  Forgot password
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="f-phone" id="f-phone" required placeholder="Enter your Phone">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input class="input100" type="password" name="f-pass" id="f-pass"  required placeholder="password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input class="input100" type="password" name="re-password" id="re-password" required  placeholder="re-type password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        confirm 
                        <!-- <script>
                            function myFunction() {
                              window.location.href="./Dashboard.html";
                            }
                          </script> -->
                    </button>
                </div>

               

               
            </form>
        </div>
    </div>
</div>
{% endblock %}