{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<div class="limiter">
    <div class="container-login100 shadow-lg p-3 mb-5 bg-body rounded">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt mt-5" data-tilt>
                <img src="{% static 'images/img.png' %}" alt="IMG" width="400px"
                height="400px">
            </div>
            <div class="text-center p-t-136" style="padding-top: 10px;">
                <a class="txt2" href="">
                   sign in
                    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                </a>
            </div>

           
        </div>
    </div>
</div>







{% endblock %}