{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid d-flex px-5">
        <div>
            <div class="navbar-brand  animate__animated animate__fadeInLeft" href="#">
                <h3 class="text-light">Raghavendra Textiles</h3>
            </div>
        </div>
      <div class="profile-details animate__animated animate__fadeInRight animate__delay-1s d-flex justify-content-center align-items-center">
        <div class="dropdown mx-2" >
          <button class="btn btn-transparent border border-white  "  type="button" id="dropdownMenuButton" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
            <img src="{% static 'images/profile-icon.png' %}" class="profile-img" alt="IMG">
          </button>
          <div class="dropdown-menu shadow px-5  bg-white rounded animate__animated animate__zoomIn " aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/profile/">Edit Profile</a>
            <a class="dropdown-item" href="">logout</a>
           
          </div>
        </div>
        
        
        {% for portitem in userdata %}
       
        <h5 class="text-light" >{{portitem.FirstName}}</h5>
        {% endfor %}
      </div>
    </div>
  </nav>
{% block navcontainer %}


{% endblock %}




{% endblock %}