{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid d-flex px-5">
        <div>
            <div class="navbar-brand" href="#">
                <h3 class="text-light">Raghavendra Textiles</h3>
            </div>
        </div>
      <div>
        {% for portitem in userdata %}
        <h3 class="text-light">{{portitem.FirstName}}</h3>
        {% endfor %}
      </div>
    </div>
  </nav>
    
  <main>
    <div class="d-flex justify-content-end mt-5 mb-5 px-5">
        <button class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">New Order</button>
    </div>
    <div class="container">
    <table class="table table-hover px-5">
        <thead>
            <tr>
              <th scope="col">OrderID</th>
              <th scope="col">Name</th>
              <th scope="col">WhatsappNo</th>
              <th scope="col">Address</th>
              <th scope="col">Courier</th>
              <th scope="col">No_Of_Items</th>
              <th scope="col">OrderStatus</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for item in orders %}
            <tr>
              <th scope="row">{{item.OrderID}}</th>
              <td>{{item.Name}}</td>
              <td>{{item.WhatsappNo}}</td>
              <td>{{item.Address}}</td>
              <td>{{item.Courier}}</td>
              <td>{{item.No_Of_Items}}</td>
              <td>{{item.OrderStatus}}</td>
              <td>{{item.Date}}</td>
            </tr>
            {% endfor %}
            
          </tbody>
      </table>
 </div>
 

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title  text-center" id="staticBackdropLabel">Book Your orders</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% for portitem in userdata %}
        <form method="post">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              <input type="text" class="form-control" id="Name" name="Name"  placeholder="Name" >
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="WhatsappNo" name="WhatsappNo"  placeholder="WhatsappNo" >
            </div>
            <div class="form-group">
              <input type="text" class="form-control" value={{portitem.Phone}} id="ContactNo" name="ContactNo"  placeholder="ContactNo" >
            </div>
            <div class="form-group">
              <input type="text" class="form-control" value={{portitem.Address}}   id="Address" name="Address"   placeholder="Address">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" value={{portitem.City}} id="City" name="City"  placeholder="City" >
            </div>
            <div class="form-group">
              <input type="text" class="form-control" value={{portitem.State}}   id="State" name="State" placeholder="State Name" >
            </div>
            <div class="form-group">
              <input type="text" class="form-control" value={{portitem.Zip}} id="Postalcode" name="Postalcode"  placeholder="Postalcode" >
            </div>
            <div class="form-group">
              <input type="text" class="form-control"   id="Courier" name="Courier" placeholder="Courier">
            </div>
        
            <div class="form-group">
              <input type="text" class="form-control"  id="No_of_items" name="No_of_items"   placeholder="No of items">
            </div>
            <div class="form-group">
              <input type="file" class="form-control"  name="file"  id="file" accept=".jpg,.jpeg,.pdf,.png"   placeholder="upload image" >
            </div>
        
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      {% endfor %}
     
    </div>
  </div>
</div>
  </main>

   

   
{% endblock %}